.navbar {
    border-bottom: 1px solid #C8C8C8;
    background-color: #fff;
}

.nav a{
    color: #555;
}

.nav a:hover{
    color: forestgreen; 
}

.nav > li > a:hover{
    background-color: lightgoldenrodyellow;
}

.navbar-nav > li > a{
    margin-top: 25px;
    padding-top: 5px;
    max-height: 30px;
}

.body-content {
    margin-top: 40px;
}