@model Memberships.Areas.Admin.Models.SmallButtonModel
@using Memberships.Areas.Admin.Models

<td style="width:120px;">
    <div class="btn-group" role="group" aria-label="@Guid.NewGuid()">
        @*Button code goes here*@
        @Html.Partial("_SmallButtonPartial",
       new SmallButtonModel
       {
           Action = "Edit",
           ButtonType = "btn-primary",
           Glyph = "pencil",
           Text = "Edit",
           Id = Model.Id,
           ItemId = Model.ItemId,
           ProductId = Model.ProductId,
           SubscriptionId = Model.SubscriptionId
       })

        
    </div>

</td>
